body {
  padding-top: 50px;
}
footer {
  min-height: 60px;
  padding-top: 15px;
  color: #fff;
  background-color: #000099;  
}
mark {
  color: #fff;
  background-color: #000099;
}
.navbar-inverse {
  background-color: #000099;
}
.navbar-brand:link {
  font-weight: 800;
  text-decoration: none;
  background-color: #fff;
  color: #D40D12;
}
.navbar-brand:visited {
  font-weight: 800;
  text-decoration: none;
  background-color: #fff;
  color: #D40D12;
}
.navbar-brand:hover {
  font-weight: 800;
  text-decoration: none;
  background-color: #fff;
  color: #D40D12;
}
.navbar-brand:active {
  font-weight: 800;
  text-decoration: none;
  background-color: #fff;
  color: #D40D12;
}
.navbar-brand {
  background-color: #fff;
}
.navbar-inverse {
  border: 0;
}
.navbar-inverse .navbar-nav > li > a:link {
  color: #fff;
  font-weight: bold;
}
.navbar-inverse .navbar-nav > li > a:visited {
  color: #fff;
  font-weight: bold;
}
.navbar-inverse .navbar-nav > li > a:hover {
  color: #fff;
  font-weight: bold;
  color: #D40D12;
}
.navbar-inverse .navbar-nav > li > a:active {
  color: #fff;
  font-weight: bold;
  color: #D40D12;
}
.jumbotron {
  background-color: #fff;
}
.carousel {
  padding: 0;
}
p.intro-text {
  line-height: 200%;
}
.gallery-row {
  margin-bottom: 30px;
}
.fiba-header {
  background-color: #EEEEEE;
  color: #000099;
  font-size: 16pt;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 60px;
}
.fiba-header h3 {
  margin-top: 10px;
}
.fiba-header-contact {
  background-color: #EEEEEE;
  color: #000099;
  font-size: 16pt;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0;
}
.fiba-header-contact h3 {
  margin-top: 10px;
}
.fiba-content {
  margin-bottom: 30px;
}
.fiba-content-contact {
  margin: 0;
  padding: 0;
}
.fiba-welcome {
  padding-bottom: 0;
}
.fiba-contact {
  padding: 0;
}
.fiba-contact p {
  margin-top: 14px;
  margin-bottom: 14px;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
.fiba-hide {
  visibility: hidden;
}
#nav-contact {
  font-size: 12px;
  color: #fff;
}
#nav-contact a:link {
  color: #fff;
  text-decoration: none;
}
#nav-contact a:visited {
  color: #fff;
  text-decoration: none;
}
#nav-contact a:hover {
  color: #fff;
  text-decoration: underline;
}
#nav-contact a:active {
  color: #ffff00;
  text-decoration: underline;
}